<div class="d-flex align-items-stretch vh-100">
  <div class="bg-light p-3">
    <h5>Your chats for <%= @lesson.name %></h5>
    <% @lesson.chatrooms.each do |chatroom| %>
      <% if @user.chatrooms.include? chatroom %>
        <%= link_to chatroom.name, chatroom_path(chatroom), class: "btn btn-gradient w-100 mb-1" %>
      <% end %>
    <% end %>
    <%= link_to "+ New chat", new_lesson_chatroom_path(@lesson), class: "btn btn-ghost-2 mt-1 w-100"  %>
  </div>
  <div class="w-100 p-3 text-center d-flex flex-column justify-content-center">
    <h1>How can I help you today?</h1>
    <hr>
    <h3>Select or create a chat on the left.</h3>
  </div>
</div>
