<div class="m-3 p-3">
  <h1><%= @lesson.name %>'s chatrooms</h1>
  <div class="display-card d-flex justify-content-center">
    <% @lesson.chatrooms.each do |chatroom| %>
      <%= link_to chatroom.name, chatroom_path(chatroom), class: "btn btn-primary w-50" %>
    <% end %>
  </div>
</div>
