<div class="container">
  <div class="display-card mt-3">
    <h1 class="text-center">New Chatroom Form</h1>
    <%= simple_form_for [@lesson, @chatroom] do |f| %>
      <%= f.input :name, label: 'Name your chatroom:', input_html: { class: "form-field" } %>
      <%= f.button :submit, class: "btn btn-gradient" %>
    <% end %>
  </div>
</div>
