<div class="p-3 m-3 d-flex flex-column align-items-center justify-content-center">
  <div class="display-card mt-3">
    <h1 class="text-center">Edit System Message Form</h1>
    <%= simple_form_for [@system_message] do |f| %>
      <%= f.input :content, label: 'Fully detail the system message to be sent to Open AI:', input_html: { class: "form-control", style: "height: auto; min-height: 500px;" }  %>
      <%= f.button :submit, class: "btn btn-gradient" %>
    <% end %>
  </div>
</div>
<div class="d-flex align-items-center justify-content-center flex mb-3">
  <%= link_to "< Back to the system message", system_message_path(@system_message), class: "btn btn-ghost-2 h1" %>
</div>
