<div class="container">
  <div class="p-3 m-3 d-flex flex-column align-items-center">
    <h1>What wouldst thou do?</h1>
    <%= link_to "Choose a course", courses_path, class: "btn btn-primary w-50" %>
  </div>
</div>
