<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://source.unsplash.com/random/?student%20on%20computer);">
  <div class="container">
    <h1>Welcome to KUIS TutorAI</h1>
    <p>Your 24/7 Study Buddy</p>
    <% if user_signed_in? %>
      <%= link_to "Go to your courses", courses_path, class: "btn btn-gradient" %>
    <% else %>
      <%= link_to "Log in or sign up", new_user_session_path, class: "btn btn-gradient" %>
    <% end %>
  </div>
</div>
<div class="container mt-3">
  <p class="text-end">Problems? <a href="mailto:euan.bonner@gmail.com">Contact the administrator.</a></p>
</div>
