<div class="container">
  <div class="display-card mt-3 form-group">
    <h1 class="text-center">New Course Form</h1>
    <%= simple_form_for @course do |f| %>
      <%= f.input :name, label: 'Type the class name:', class: "form-control" %>
      <%= f.input :details, label: 'Describe the class in detail:', class: "form-control" %>
      <%= f.button :submit, class: "btn btn-gradient" %>
    <% end %>
  </div>
</div>
