<div class="container p-3">
  <div class="display-card">
    <h5 class="text-center"><%= @course.name %> Units</h5>
    <div class="m-3 d-flex flex-column align-items-center gap-1">
      <% @course.units.each do |unit| %>
        <%= link_to unit.name, unit_path(unit), class: "btn btn-ghost w-50" %>
      <% end %>
      <%= link_to "Create a new unit", new_course_unit_path(@course), class: "btn btn-ghost-2 w-50 mt-3"  %>
    </div>
  </div>
</div>
