.course-menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.course-menu-item {
  padding: 8px;
  flex: 1;
  border-radius: 8px;
}

.course-menu .btn, .course-menu-item {
  width: 100%;
}

@media (min-width: 1000px) {
  .course-menu .btn, .course-menu-item {
    width: 320px;
  }
}
